.chatroompage {
    display: flex;
    flex-direction: column;
    width: 900px;
    max-width: 95vw;
    .chatroom {
        height: calc(100vh - 60px);
        max-height: calc(100vh - 60px);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.377);
        background-color: #202124;
        box-sizing: border-box;

        align-items: end;
        display: flex;
        flex-direction: column;

        .messageList {
            flex: 1;
            height: min-content;
            width: 100%;
            grid-area: ml;
            display: flex;
            flex-direction: column;
            padding: 15px;
            box-sizing: border-box;
            gap: 5px;
            max-height: fit-content;
            overflow-y: scroll;

            /* width */
            &::-webkit-scrollbar {
                width: 10px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: transparent;
                border-radius: 5px;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #1b38b2;
                border-radius: 5px;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
        }
        .sender {
            grid-area: ♥;
            justify-self: center;
        }
        .dummy {
            // margin-top: 10px;
        }
        h2 {
            text-align: center;
            width: 100%;
        }
    }
}
