.createroom {
    display: grid;

    form {
        display: grid;
        grid-template: 
        "rn rn" min-content
        "l c" min-content
        "s s" min-content
        ;
        padding: 20px;
        width: 100%;
        gap: 10px;

        input {
            height: 20px;
        }

        #roomname {
            grid-area: rn;
        }
        
        label {
            grid-area: l;
        }
        
        #isPublic {
            grid-area: c;
        }

        input[type=submit] {
            grid-area: s;
            height: 100%;
            font-size: x-large;
        }
    }
}